body {
  padding: 1em;
  /*background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAYAQMAAADnK87dAAAABlBMVEX///8AAABVwtN+AAAAAnRSTlMANrkpWKEAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVAiZY2AgCTwAAAEQAOFwuZEGAAAAAElFTkSuQmCC) repeat left top;*/
  background: url(/images/emoji-wallpaper.jpg);
  background-size: cover;
  text-align: center;
}

input {
  text-align: center;
}

.card {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
  border-radius: 5px;
  border: 1px solid #999;
  width: 80vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  max-height: 90vh;
  overflow: auto;
}

#voiceButton svg {
  margin-top: 15px;
}

#voiceButton {
  vertical-align: top;
}